<!DOCTYPE html>
<html>
  <head>
    <title>Madlib 1</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
    <h1>Adventure</h1>
    <p>Today I went to the zoo. I saw a(n) @Model.Adjective1 @Model.Noun1 jumping up and down in its tree.</p>
    <p>@Model.Verb1 @Model.Adverb1 through the large tunnel that led to its @Model.Adjective2 @Model.Noun2.</p>
    <p> I got some peanuts and passed them through the cage to a gigantic gray @Model.Noun3 towering above my head.</p>
    <p> Feeding that animal made me hungry. I went to get a @Model.Adjective3 scoop of ice cream. It filled my stomach.</p>
    <p> Afterwards I had to @Model.Verb2 @Model.Adjective4 to catch our bus. When I got home I @Model.Verb3 my mom for a @Model.Adjective5 day at the zoo. </p>
  </body>
</html>